apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: enterprise
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: gabriellova/auth-service:latest
        env:
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_SECRET
        ports:
        - containerPort: 3001
