apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-deployment
  namespace: enterprise
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: gabriellova/gateway-service:latest
        env:
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_SECRET
        ports:
        - containerPort: 3001
