apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deployment
  namespace: enterprise
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
      - name: product
        image: gabriellova/product-service:latest
        env:
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_SECRET
        ports:
        - containerPort: 3001
